# Eat Safe, Love

## Notebook Set Up

In [12]:
# Import dependencies
import pandas as pd
import pymongo 
from pymongo import MongoClient
from pprint import pprint

In [13]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [14]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [15]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food')

In [17]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [18]:
# assign the collection to a variable
establishments = db['establishments']

In [19]:
# review a document in the establishments collection
collection=db['establishments']
documents=collection.find_one()
documents

{'_id': ObjectId('65c673619e0e648dac6786e2'),
 'FHRSID': 1043695,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6BL',
 'Phone': '',
 'RatingValue': {'$toInt': '$RatingValue'},
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2018-04-04T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': {'$toDouble': '$geocode.longitude'},
  'latitude': {'$toDouble': '$geocode.latitude'}},
 'RightToReply': '',
 'Distance': 4591.765489457773,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/1043695'}]}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [20]:
# Find the establishments with a hygiene score of 20
query ={'scores.Hygiene':20}

# Use count_documents to display the number of documents in the result

count=collection.count_documents(query)


# Display the first document in the results using pprint

pprint(collection.find_one(query))

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': {'$toInt': '$RatingValue'},
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65c673619e0e648dac67a219'),
 'geocode': {'latitude': {'$toDouble': '$geocode.latitude'},
             'longitude': {'$toDouble': '$geocode.longitude'}},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [21]:
# Convert the result to a Pandas DataFrame
df=pd.DataFrame(list(collection.find(query)))

# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
df.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,65c673619e0e648dac67a219,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,65c673619e0e648dac67a598,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,65c673619e0e648dac67a8a6,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,65c673619e0e648dac67aa8e,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,65c673619e0e648dac67aa9e,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,65c673619e0e648dac67b449,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,65c673619e0e648dac67b662,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,65c673619e0e648dac67cb8d,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
8,65c673619e0e648dac67cfd3,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,65c673619e0e648dac67d7de,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,http://www.basildon.gov.uk,ehs@basildon.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [22]:
query = {"LocalAuthorityName": {'$regex': "London"}, "RatingValue": {'$gte': 4}}

count_results = collection.count_documents(query)
print(f"There are {count_results} documents for establishments within 'London' with a 'RatingValue' >= 4.")

first_result = collection.find(query)
print("\nThe first document is:")
print("-" * 50)
pprint(first_result)

There are 0 documents for establishments within 'London' with a 'RatingValue' >= 4.

The first document is:
--------------------------------------------------
<pymongo.cursor.Cursor object at 0x168a2f190>

In [23]:
# Convert the result to a Pandas DataFrame
df=pd.DataFrame(list(collection.find(query)))

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

0

Empty DataFrame
Columns: []
Index: []

In [24]:

# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {'LocalAuthorityName':{'$regex':'London'},'RatingValue':{"$gte":4}}




# Use count_documents to display the number of documents in the result
count2=collection.count_documents(query2)
print(count2)

0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [25]:
# Search within 0.01 degree on either side of the latitude and longitude.
latitude = 51.49014200
longitude = 0.08384000

# Rating value must equal 5
rating_values=5
degree_search = 0.01
query3={
    "RatingValue":str(rating_values),
    "geocode.latitude":{"$gte":latitude - degree_search,"$lte":latitude + degree_search},
    "geocode.longitude":{"$gte":longitude - degree_search,"$lte":longitude + degree_search},
    
}

# Sort by hygiene score
 
sorts = [("scores.Hygiene",1)]
results3=list(collection.find(query3).sort(sorts).limit(5))


# Print the results
pprint(results3)

[]

In [26]:
# Convert result to Pandas DataFrame
df=pd.DataFrame(list(collection.find(query)))
df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [27]:
# Create a pipeline that: 


# 1. Matches establishments with a hygiene score of 0
query_matches={"$match":{"score.Hygiene":0}}

# 2. Groups the matches by Local Authority
query_group={"$group":{"_id":"$LocalAuthorityName"}}
# 3. Sorts the matches from highest to lowest
sorting_values={"$sort":{"count":-1}}
# Print the number of documents in the result
pipeline_4 = [query_matches, query_group, sorting_values]

result_4 = list(establishments.aggregate(pipeline_4))

print('Number of local authority areas: ', len(result_4))
# Print the first 10 results
result_4[0:10]

Number of local authority areas:  0

[]

In [28]:
# Convert the result to a Pandas DataFrame

df=pd.DataFrame(list(collection.find(query)))

# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
df.head(10)

0

Empty DataFrame
Columns: []
Index: []